<div class="container">
  <div class="flash-message info mvm">
    This is demo application for <a href="https://github.com/railsware/sht_rails">sht_rails gem</a> (Shared Handlebars Templates).<br />
 <a href="http://blog.railsware.com/2012/04/12/shared-mustache-templates-for-rails-3/">Get more info &rarr;</a>
  </div>
  <div class="content">
    <div class="phl pvm">
      <h1 class="mbm">Listing products</h1>
    <div id="productsSht" data-json-url="<%= sht_index_url(format: :json) %>">
      <% @products.each do |product| %>
        <%= render "sht/product", handlebars: product_template_data(product), partials: {product_description: (render "sht/product_description")} %>
      <% end %>
    </div>
  </div>
</div>
<!-- inline example -->
<script id="entry-template" type="text/x-handlebars-template">
  <%= render "sht/product" %>
</script>