<div class="product">
  <h2><a href="{{url}}">{{title}}</a></h2>
  <div class="details">
    <strong>{{price}}</strong>
    {{#price}}
      {{> products/product_description}}
    {{/price}}
  </div>
</div>
