<h1>Product</h1>

<p>
  <b>Name:</b>
  <%= @product.title %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Description</b>
  <%= @product.description %>
</p>

<%= link_to 'Back', root_path %>