<div class="container ptm">
  <div class="content">
  <div class="phl pvm">
    <h1 class="mbm">Product</h1>
    <div class="mbs">
      <%= link_to '&larr; Back to all products'.html_safe, root_path %>
    </div>
    <div class="mbs">
      <strong>Name:</strong>
      <%= @product.title %>
    </div>
    <div class="mbs">
      <strong>Price:</strong>
      <%= number_to_currency(@product.price)%>
    </div>
    <div class="pbl">
      <strong>Description:</strong>
      <%= @product.description %>
    </div>
  </div>
  </div>
</div>
